<section class="table-container">
  <h3>生活费领取列表</h3>
  <div class="table-action-area">
  </div>
  <table class="table table-striped wt-table">
    <thead>
      <tr>
        <th data-field="employee">员工姓名</th>
        <th data-field="project">项目</th>
        <th data-field="isUpperHalf">月旬</th>
        <th data-field="worktype">工种</th>
        <th data-field="year">年</th>
        <th data-field="month">月</th>
        <th data-field="paid">费用</th>
        <th data-field="createdAt">创建时间</th>
        <th data-field="updatedAt">更新时间</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of payments">
        <td>{{payment.employee}}</td>
        <td>{{payment.project}}</td>
        <td>{{payment.isUpperHalf}}</td>
        <td>{{payment.worktype}}</td>
        <td>{{payment.year}}</td>
        <td>{{payment.month}}</td>
        <td>{{payment.paid}}</td>
        <td>{{payment.createdAt | date:"yyyy/MM/dd"}}</td>
        <td>{{payment.updatedAt | date:"yyyy/MM/dd"}}</td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</section>