# Add any directories, files, or patterns you don't want to be tracked by version control
.vscode

# npm modules
node_modules

# typings
typings

# build outputs
build
dist

# compile outputs
/app/**/*.js
/app/**/*.map