/* Generic Styles */
html, body {
  margin: 0;
  padding: 0;
  height:100%;
  width: 100%;
}

body {
  font-family: "FontAwesome", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #474E5D;
  font-weight: 400;
}

.table-container {
  padding: 5px;
}

/* table */
.wt-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  color: #73879C;
  font-size: 12px;
  text-align: left;
  border-collapse: collapse;
  border-color: transparent;
}

.wt-table th {
  font-weight: normal;
  font-size: 13px;
  color: #fff;
  background: #3498db;
  padding: 8px;
  border-top: none;
}

.wt-table td {
  border-top: 1px solid #fff;
  padding: 8px;
}

.wt-table tbody td {
  background: #ecf0f1;
  color: #2c3e50;
}

.wt-table tbody tr:hover td {
  background: #bdc3c7;
  color: #fff;
}

/* top acation area of table */
.table-action-area, 
.table-search-area {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  margin: 10px 0px;
}
.table-action-area {
  display: block;
  border-radius: 25px;
  background: #ecf0f1;
  padding: 3px 10px;
}
.table-search {
  display: flex;
}
 .top-search-btn {
  border-radius: 0 25px 25px 0;
  border: 1px solid rgba(221,226,232,.49);
  border-left: 0;
  /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
  box-shadow: none;
  color: #93A2B2;
  margin-bottom: 0!important;
} 

/* search text area */
.text-search {
  color:#2c3e50;
  background: #ecf0f1;
  /* box-shadow: inset 0 1px 0 rgba(0,0,0,.075); */
  box-shadow: none;
  border-radius: 25px 0 0 25px;
  padding-left: 20px;
  border: 1px solid rgba(221,226,232,.49);
}
input[type="text"].text-search::-webkit-input-placeholder { 
  font-size: 12px;
  font-style: italic;
  color: #7f8c8d;
}
input[type="text"].text-search::placeholder { 
  font-size: 12px;
  font-style: italic;
  color: #7f8c8d;
}
input[type="text"].text-search::-moz-placeholder { 
  font-size: 12px;
  font-style: italic;
  color: #7f8c8d;
}
input[type="text"].text-search:-ms-input-placeholder  { 
  font-size: 12px;
  font-style: italic;
  color: #7f8c8d;
}
