/* Generic Styles */
html, body {
  margin: 0;
  padding: 0;
  height:100%;
  width: 100%;
}

body {
  font-family: "FontAwesome", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #474E5D;
  font-weight: 400;
}

/* table */
.table-container {
  padding: 5px;
}

.wt-table {
  color: #73879C;
}

.wt-table td, .wt-table th {
  padding: 1em;
}

.wt-table thead tr th {
  color: #fff;
  background-color: #34495e;
}