<section class="table-container">
  <div class="table-action-area">
  </div>
  <paginated-table [items]="employee" 
  [fields]="'name:姓名|phone:电话|email:邮箱|age:年龄|gender:性别|idCard:身份证|createdAt:创建时间|updatedAt:更新时间'">
  </paginated-table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</section>