<section class="table-container">
  <div class="table-search-area">
    <div class="table-search">
      <div class="input-group">
        <input type="text" class="form-control text-search" placeholder="输入搜索内容..." [(ngModel)]="searchTerm">
        <span class="input-group-btn">
          <button class="btn btn-default top-search-btn" type="button" (click)="search()"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div>
    </div>
  </div>
  <div class="table-action-area">
    <table-toolbar (previous)="gotoPage($event)" (next)="gotoPage($event)" (goto)="gotoPage($event)" (create)="preCreate()"
      (refresh)="refreshTable()" (export)="exportTable()" [current]="currentPage" [isPreviousValid]="currentPage > 1" [isNextValid]="currentPage < totalPages">
      <div addTemplate>
        <project-editor [mode]="editMode" [project]="currentProject" [managers]="managers" (submitAction)="creating($event)"></project-editor>
      </div>
    </table-toolbar>
  </div>
  <paginated-table
    [name]="'projectsTable'"
    [items]="projects" 
    [fields]="'name:项目名称|address:项目地址|manager:负责人|state:项目状态|createdAt:创建时间|updatedAt:更新时间' | parseFields"
    [busy]="isBusy" 
    [hasData]="!noData"
    [pageIndex]="currentPage"
    [totalPages]="totalPages"
    (edit)="editItem($event)"
    (remove)="removeItem($event)">
  </paginated-table>
</section>