<section class="table-container">
  <h3>项目列表</h3>
  <div class="table-action-area">
    <div class="table-settings">
      <button type="button" (click)="showBusy()">Show Busy</button>
    </div>
    <div class="table-search">
      search
    </div>
  </div>
  <table class="table table-striped wt-table">
    <thead>
      <tr>
        <th data-field="name">项目名称</th>
        <th data-field="manager">负责人</th>
        <th data-field="address">工地</th>
        <th data-field="state">项目状态</th>
        <th data-field="start">开始日期</th>
        <th data-field="end">结束日期</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <td>{{project.name}}</td>
        <td>{{project.manager}}</td>
        <td>{{project.address}}</td>
        <td>{{project.state}}</td>
        <td>{{project.createdAt | date:"yyyy/MM/dd"}}</td>
        <td>{{project.updatedAt | date:"yyyy/MM/dd"}}</td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</section>