.login-container {
  width: 100%;
  height: 100%;
  background-color: #34495e;
}

.login-form {
  padding-top: 40px;
  margin-left:auto;
  margin-right:auto;
  width:270px;
}

.login-input{
	width:270px;
  padding:15px;
  font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	background: #f5f5f5;
	border:none;
	border-radius: 5px;
	color: #333;
	font-size: 14px;
	margin-top:15px;
}

.loginbutton{
	background-color:#e74c3c;
	border-radius:5px/5px;
	-webkit-border-radius:5px/5px;
	-moz-border-radius:5px/5px;
	color:#ffffff;
	display:inline-block;
	font-size:14px;
	font-weight:bold;
	width:270px;
	text-align:center;
	line-height:50px;
	text-decoration:none;
	height:50px;
	margin-top:20px;
	margin-bottom:20px;
	border:none;
	outline:0;
	cursor: pointer;
}

.loginbutton:active {
	position:relative;
	top:1px;
}

.loginbutton:hover{
	background-color:#c0392b;
}

.loading-spinner {
  margin-left: auto;
  margin-right: auto;
  width: 32px;
  height: 32px;
}
