<div class="wt-container">
  <nav role="navigation" class="wt-navbar">
    <!-- Navigate toggle button for mobile version -->
    <div class="wt-navbar-toggle navbar-header">
      <button type="button" 
              data-target="#navbarCollapse" 
              data-toggle="collapse" 
              class="wt-toggle-btn navbar-toggle">
        <span class="sr-only"></span>
        <span class="icon-bar navbar-icon-bar"></span>
        <span class="icon-bar navbar-icon-bar"></span>
        <span class="icon-bar navbar-icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand wt-navbar-brand">工时系统</a>
    </div>
    <!-- Navigation Page -->
    <div id="navbarCollapse" class="collapse wt-navbar-collapse" style="height:0;">
      <a class="wt-navbar-menuitem" routerLink="/"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="fa fa-tachometer" aria-hidden="true"></i>
        <span>综合信息</span>
      </a>
      <a class="wt-navbar-menuitem"  routerLink="/project" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="fa fa-tasks" aria-hidden="true"></i>
        <span>项目列表</span>
      </a>
      <a class="wt-navbar-menuitem" routerLink="/employee" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span>员工列表</span>
      </a>
      <a class="wt-navbar-menuitem" routerLink="/worktime" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <span>工时列表</span>
      </a>
      <a class="wt-navbar-menuitem" routerLink="/payment" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="fa fa-credit-card" aria-hidden="true"></i>
        <span>工资暂支</span>
      </a>
      <a class="wt-navbar-menuitem" routerLink="/worktype" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="fa fa-address-card" aria-hidden="true"></i>
        <span>工种列表</span>
      </a>
      <a class="wt-navbar-menuitem" routerLink="/statics" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
        <span>统计信息</span>
      </a>
    </div>
  </nav>
  <div class="wt-content">
    <div class="wt-content-header">
      {{pageTitle}}
    </div>
    <router-outlet class="wt-content-main">
    </router-outlet>
  </div>
</div>