/* Main Content Section Definition 
 * .wt-container => for whole area
 * .wt-navbar => for left side bar (will become top bar for mobile version)
 * .wt-content => for right content area (will become bottom area for mobile version)
 */
 .wt-container, .wt-content, .wt-navbar {
  display: flex;
  max-height: 100%;
}
.wt-container {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  flex-flow: row;
  flex-direction: row;
}
.wt-navbar {
  width: 15%;
  flex-flow: column;
  flex-direction: column;
  background-color: #2A3F54;
}
.wt-content {
  width: 85%;
  overflow-y: auto;
  flex-flow: column;
  flex-direction: column;
}
.wt-content-header {
  display: block;
  background: #EDEDED;
  line-height: 1.471;
  /*height: 59px;*/
  padding: 10px;
  border-bottom: 1px solid #D9DEE4;
}

/* Mobile */
@media (max-width: 768px) {
  .wt-container {
    flex-flow: column;
    flex-direction: column;
  }
  .wt-container, .wt-content, .wt-navbar {
    height: auto;
    max-height: none;
  }
  .wt-navbar, .wt-content {
    width: 100%;
  }
  .wt-navbar {
    min-height: 48px;
  }
  .wt-content-header {
    display: none;
  }
}

/*
 * Navbar related styles 
 */
.wt-navbar-toggle, .wt-navbar-collapse {
  display: flex;
}
.wt-navbar-toggle {
  text-align: center;
}
/* Hide for the menu item which is for mobile only */
.wt-toggle-btn {
  visibility: hidden;
  border: 1px #fff solid;
  color: #fff;
}

.wt-navbar-collapse {
  flex-flow: column;
  flex-direction: column;
}

.wt-navbar-brand {
  width: 100%;
  justify-content: center;
  color: #bdc3c7;
}

.wt-navbar-menuitem {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 5px;
  min-height: 44px;
  text-decoration: none;
  transition: border, background-color .35s;
  color: #fff;
}

.wt-navbar-menuitem span {
  margin-left: 10px;
}

.wt-navbar-menuitem:hover {
  background-color: #34495e;
  text-decoration: none;
  color: #fff;
}
.active {
  /*background-color: #474E5D;*/
  background-color: #3498db;
  border-right: 6px solid #f39c12;
}

/* Mobile */
@media (max-width: 768px) {
  .wt-navbar-brand {
    width: 70%;
  }
  .wt-navbar-collapse {
    visibility: collapse;
  }
  .wt-navbar-toggle {
    display: block;
    text-align: left;
  }
  .wt-toggle-btn {
    visibility: visible;
    border: none;
  }
  .navbar-icon-bar {
    background: #ecf0f1;
  }
  .wt-toggle-btn:hover .navbar-icon-bar {
    background: #bdc3c7;
  }
  .wt-toggle-btn:active .navbar-icon-bar {
    background: #ecf0f1;
  }
  .collapse.in {
    visibility: visible;
  }
  .wt-navbar-menuitem {
    align-items: center;
    justify-content: left;
    padding-left: 15px;
  }
}