<div class="table-actions">
  <div class="table-actions-group">
    <button class="btn btn-toolbar-item toolbar-nav" (click)="previousAction()" [disabled]="!isPreviousValid">
      <span class="glyphicon glyphicon-arrow-left"></span>
    </button>
    <button class="btn btn-toolbar-item toolbar-nav" (click)="nextAction()" [disabled]="!isNextValid">
      <span class="glyphicon glyphicon-arrow-right"></span>
    </button>
  </div>
  <div class="table-actions-group">
    <input type="text" class="text-toolbar-item" placeholder="页码" [(ngModel)]="gotoPage" />
    <button class="btn btn-toolbar-item toolbar-nav" (click)="gotoAction()">跳转</button>
  </div>
  <div class="table-actions-group">
    <!-- <button class="btn btn-toolbar-item toolbar-add" (click)="createAction()">
      <span class="glyphicon glyphicon-plus"></span>
    </button> -->
    <modal-window [caption]="'新建'" [modalId]="'createNewModal'" [dismissActionName]="'关闭'" [commitActionName]="'保存'">
      <button trigger class="btn btn-toolbar-item toolbar-add" (click)="createAction()" data-toggle="modal" data-target="#createNewModal">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      <div content>
        <ng-content addTemplate></ng-content>
      </div>
    </modal-window>
    <button class="btn btn-toolbar-item toolbar-refresh" (click)="refreshAction()">
      <span class="glyphicon glyphicon-refresh"></span>
    </button>
    <button class="btn btn-toolbar-item toolbar-export" (click)="exportAction()">
      <span class="glyphicon glyphicon-save" ></span>
    </button>
  </div>
</div>