<form autocomplete="off" #newEmpForm="ngForm" (ngSubmit)="saveItem(newEmpForm.value)">
  <div class="modal-body">
    <section>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="employee.name" name="name" id="name" placeholder="姓名" data-error="姓名不能为空" required>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="employee.phone" name="phone" id="phone" placeholder="电话" data-error="电话不能为空" required>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="employee.email" name="email" id="email" placeholder="邮箱">
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="employee.age" name="age" id="age" placeholder="年龄">
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        <select class="form-control" [(ngModel)]="employee.gender" name="gender" id="gender" data-error="性别不能为空" required>
          <option value="男" selected="selected">男</option>
          <option value="女">女</option>
        </select>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="employee.idCard" name="idCard" id="idCard" placeholder="身份证号" data-error="身份证号不能为空" required>
        <div class="help-block with-errors"></div>
      </div>
    </section>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">{{dismissActionName}}</button>
    <button type="submit" class="btn btn-primary" (click)="submitted()">{{commitActionName}}</button>
  </div>
</form>