<form autocomplete="off" #newProjectForm="ngForm" (ngSubmit)="saveItem(newProjectForm.value)">
  <div class="modal-body">
    <section>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="project.name" name="name" id="name" placeholder="项目名称">
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        <select class="form-control" [(ngModel)]="project.manager" name="manager" id="manager">
          <option value="" selected="selected">--负责人--</option>
          <option [ngValue]="mgr" *ngFor="let mgr of managers">{{mgr}}</option>
        </select>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="project.address" name="address" id="address" placeholder="工地">
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        <select class="form-control" [(ngModel)]="project.state" name="state" id="state">
          <option value="">--请选择项目状态--</option>
          <option value="1">未开工</option>
          <option value="2">在建</option>
          <option value="3">竣工</option>
        </select>
      </div>
    </section>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">{{dismissActionName}}</button>
    <button type="submit" class="btn btn-primary" (click)="submitted()">{{commitActionName}}</button>
  </div>
</form>