<form autocomplete="off" #newWorktypeForm="ngForm" (ngSubmit)="saveItem(newWorktypeForm.value)">
  <div class="modal-body">
    <section>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="worktype.worktype" name="worktype" placeholder="工种" data-error="工种不能为空" required>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
          <select class="form-control" [(ngModel)]="worktype.lead" name="lead" data-error="负责人不能为空" required>
            <option value="" selected="selected">--负责人--</option>
            <option [ngValue]="emp" *ngFor="let emp of emps">{{emp}}</option>
          </select>
        </div>
    </section>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">{{dismissActionName}}</button>
    <button type="submit" class="btn btn-primary" (click)="submitted()">{{commitActionName}}</button>
  </div>
</form>