<div *ngIf="isBusy" class="spinner-container">
  <div class="spinner">
    <p><i class="fa fa-refresh fa-spin"></i></p>
  </div>
</div>
<div *ngIf="!hasData && !isBusy">
  <div class="empty-table">
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 非常抱歉，没有找到任何数据！
  </div>
</div>
<div *ngIf="hasData && !isBusy">
  <table [attr.id]="name" class="wt-table">
    <tbody>
      <tr>
        <th *ngFor="let field of fields">{{field.text}}</th>
        <th *ngIf="showActions"></th>
        <th *ngIf="showActions"></th>
      </tr>
    </tbody>
    <tbody>
      <tr *ngFor="let data of items">
        <td *ngFor="let field of fields" [innerHtml]="data[field.name] | cellFormatter:field.name"></td>
        <td *ngIf="showActions">
          <button class="btn btn-xs btn-info cell-btn" (click)="onEdit(data)">
            <span class="glyphicon glyphicon-edit"></span>
          </button>
        </td>
        <td *ngIf="showActions">
          <button class="btn btn-xs btn-danger cell-btn" (click)="onRemove(data._id)">
              <span class="glyphicon glyphicon-remove"></span>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td [colSpan]="fields.length">
          <em>页码:{{pageIndex}}/{{totalPages}} -- {{tableMessage}}</em>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<!-- Modal -->
<div class="modal fade" #removeConfiramtion id="removeConfirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">删除确认</h4>
      </div>
      <div class="modal-body">
        <i class="fa fa-exclamation-triangle" style="padding-right:12px;font-size: 1.5em;color:#c0392b;" aria-hidden="true"></i>  删除操作是不可撤销的，你确定删除这条记录吗？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="ok()">确认</button>
      </div>
    </div>
  </div>
</div>